dist: xenial
language: python
python:
- '3.9'
- '3.10'
jobs:
  allow_failures:
  - python: '3.10'
cache:
- pip
- apt
before_install:
- pip install poetry
- poetry --version
install:
- poetry install -vv
- poetry show
script:
- poetry run py.test -vv --cov=src --cov-report xml tests
- poetry run python th_wrapper.py -w truffles.json -c thog_config.json -g file:///${PWD}/ --check
after_script:
- poetry run python-codacy-coverage -r coverage.xml
before_deploy:
- poetry config repositories.testpypi https://test.pypi.org/legacy/
- poetry config pypi-token.testpypi $PYPI_API_TOKEN
- poetry config pypi-token.pypi $PYPI_PROD_API_TOKEN
- poetry build
deploy:
# test pypi deployment on branches that are not master
- provider: script
  skip_cleanup: true
  script: poetry publish -n -vv -r testpypi || true
  on:
    python: 3.9
    repo: uc-cdis/pypfb
    tags: false
    all_branches: true
    condition: "$TRAVIS_BRANCH != master"
# real pypi deployment on tags on master
- provider: script
  skip_cleanup: true
  script: poetry publish -n -vv
  on:
    python: 3.9
    repo: uc-cdis/pypfb
    tags: true
env:
  global:
  - PIPENV_IGNORE_VIRTUALENVS=1
  - secure: kfcy2VT1IVmFqKqB4sx6yvZWM/aVldn6ZVTMKxXRCmcUcj2BC2x3gTttjRCRiVtCNIhSPwftsiqFy9jyGft/ylFXeN97vzZJu4oWYLGj/JFm2undiwQ/bC66NZUJUaQsn6SVZ3nsn4V9wMV4iW1ySrdTr/8M5//bOy5BjWRTNN8AZ1yH0p4BLAsA1umvmo5bcXMeHUJpXs0iSRZe1yO1CI+0gfIPz2MdbzJUN3surr4OCvkbYD/zpeznV5eXbDrrHN1WoAybKRYA/I6WpvoV5YU0z8PShNVRkxZRNWjctF2sZnO/n5fGUMEF7qxIOaGbfIHtVDD4jbaZsDKo7RRlME8G0wSskonyK9tAVK0TFHCmwnPz8D77ZwhKkxB+zvNvbgrSgoAiQ+6kfoMiOJP+QQEMqxWApRLeFtDRolMc34JVJO3DdTNuRiB8R46XPxtDJCTwKmYjiv56Tfbr+BHvCphysV0+4pmUQYZPyIkxOAsjPzBW37vUgnoWdUu0oAstMxX1hF7rshBnX7LuYD4owCFdIjpW9TYeQpHU1XvrGW3yM50XRMu5wjbOy6nOGBGh+WTA6JgkusH1Q3HgPcfYPsHdCjw5xmInBZuO3FiujXIw9VEYYA8dcMXC1zAwgs0P9x4vwmq3CNUCSdbmOOsO62yvGnf9GFW7KIpDdJksVh8=
  - secure: GOV8qXHCRQwLX6YbxldiRTHS/FmEp4I5xmu80Rm0mUiYCp07LgyP4nIqaCIBmq6qIrMggfa6D6/s5mFSaoD9P81/XSqz6EHg1Lca2/bRlXygA+KATxmqwT9Lk68htpLnh2uLq1nU84p+MsdFUw1CcAXgeevvBIed6iJUk5jWdOexR4clOwg5t/PZnDi3t9WFUmt0N0EjtYx9sP3xSajovg8n1y+SLzmiUfW7ckjB+K2iN9MH4PhkwfILNrj17ynaJgKs4ggFjWAOB4GNq6JFB16t1IZ0y3GyLKTSQFEtnL8SoiKlKKyEgd+pEsNhPpHpUzd157NJGILnihMxnyy657rMbyGEflvF8Y9JNRjs0OFGLro25sKXcePzTPJJnr4CZ0MyI2lg51ykR23In7tX7+hwDQm2YR3iC1LttK/iatItAtKLqDxgewoRfKmsDkZitofHMSdbg8Gmr0fd3COGdE6I0tfz5HAQS6y+MGi1+SiEHRigtwLdO+ADPaqMaBqhKYYY34S5BSew5Ge8AiRv/VOgii1p3Yfox+1uJtol58Cdzvb45OMkGo621pD/GJaxjxeNK9+7RqoUe7ULXUD9vHHqpCefWowtD6EAWSE0FZYuEloh0i6g4l7F/LJIS7ArSrFGUHJKCmJSypjkukvMCecO8xW9ewg94OBG5DAWvjI=
after_deploy:
- pip install gen3git
- gen3git release
